body {
    background-color: aquamarine;
}

h1, h2 {
    text-align:center;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
}

.formDiv {
    text-align: center;
    width:fit-content;
    margin:auto;
}

#startButton {
    text-align: center;
}
